<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
  <title th:text="#{resultTitle}"></title>
</head>
<body class="row" layout:fragment="content">
<!--/*@thymesVar id="message" type="masterSpringMVC"*/-->
<!--<span th:text="${message}">Hello HTML</span>-->
<!--<ul>-->
<!--<li th:each="msg: ${msgs}" th:text="${msg}">Number list</li>-->
<!--</ul>-->
<!--<h2 class="indigo-text center" th:text="|Number list for ${search}|"></h2>-->
<!--<ul class="collection">-->
<!--<li class="collection-item avatar" th:each="msg:${msgs}">-->
<!--<span class="title" th:text="${msg}">Number</span>-->
<!--</li>-->
<!--</ul>-->
<h2 class="indigo-text center" th:text="|#{search.result}${keywords}|"></h2>
<ul class="collection">
  <li class="collection-item avatar" th:each="retult:${results}">
    <span class="title" th:text="${retult}">Empty</span>
  </li>
</ul>
</body>
</html>